{% extends "base.html" %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
    <form action="/accounts/auth/" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Logowanie</legend>
            <strong>{{ error }}</strong>
            <div class="form-group">
                <label for="Username">Nazwa użytkownika</label>
                <input type="text" name="username" id="username" placeholder="Username or Email address"
                       class="form-control border-0 shadow form-control-lg">
            </div>
            <div class="form-group">
                <label for="password">hasło</label>
                <input type="password" name="password" id="password" placeholder="password"
                       class="form-control border-0 shadow form-control-lg">
            </div>
            <button type="submit" class="btn btn-primary">Zaloguj</button>
        </fieldset>
    </form>
{% endblock %}