{% extends "base.html" %}

{% block content %}
    {% if  articles.count > 0 %}
        {% for article in articles %}
            <div class="col-lg-12 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0"><a href="/articles/{{ article.id }}">{{ article.title }}</a>
                        </h3>
                    </div>
                    <div class="card-body">
                        <h6>Opublikowano {{ article.published }}Autor: {{ article.user.username }}</h6>
                        {{ article.content  | safe | linebreaks | truncatewords:100}}
                        <br>
                        <a href="/articles/{{ article.id }}"><button type="submit" class="btn btn-primary">Czytaj więcej</button></a>
                    </div>
                </div>
            </div>

        {% endfor %}
    {% else %}
        <p>Brak artykułów!</p>
    {% endif %}
{% endblock %}



